snippet c "const a = b;" b
	const $0 = $1;

snippet class
	class ${0} { 
		constructor(props) {
			super(props)
		} 
	}

snippet story "a story from storybook"
	/* @flow */

	import React from 'react'
	import { storiesOf } from '@kadira/react-native-storybook'
	
	storiesOf('${1}', module)
		.add('${2}', () => (${3}))
